/* All styles created for demo purposes only, you may not need this for your project */
.demo-button button {
  margin-bottom: 5px;
}

.demo-icons li {
  margin-bottom: 50px;
  text-align: center;
}
.demo-icons .lnr,
.demo-icons .fa {
  font-size: 28px;
}
.demo-icons .cssclass {
  display: block;
  margin-top: 5px;
  margin-left: 5px;
}

.brand{
	background-color: #DEE3E9;
}
ul.notification .table tr td> li {
  
	list-style:none;
	font-size:17px;
}
ul.notification .table tr td{
    color: #000;
}
ul.notification .table tr td> li a:hover{
	color: #DEE3E9;
}
tr.btndefault{
	
	background:#DEE3E9 ;
	
}
tr.btnwarning{
	
	background:#FFFFFF ;
	
}
bordered th:last-child, table.table-bordered td:last-child {
    border-right-width: 1px !important;
}
.itapproved{
	margin-top: 3px;
	margin-bottom: 3px;
}

.fstore{
	margin-top: 3px;
	margin-bottom: 3px;
}
.crcapex{
	margin-bottom: 3px;
}

.bg-info, .bg-info>a {
    color: #fff!important;
}

.bg-info {
    background-color: #17a2b8!important;
}

.small-box {
    border-radius: 0.25rem;
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    display: block;
    margin-bottom: 20px;
    position: relative;
}

.small-box>.inner {
    padding: 10px;
}

@media (min-width: 1200px)
.col-lg-3 .small-box h3, .col-md-3 .small-box h3, .col-xl-3 .small-box h3 {
    font-size: 2.2rem;
}

.small-box .icon {
    color: rgba(0,0,0,.15);
    z-index: 0;
}
.small-box .icon>i.fa, .small-box .icon>i.fab, .small-box .icon>i.fad, .small-box .icon>i.fal, .small-box .icon>i.far, .small-box .icon>i.fas, .small-box .icon>i.ion {
    font-size: 70px;
    top: 20px;
}

.small-box .icon>i {
    font-size: 60px;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: -webkit-transform .3s linear;
    transition: transform .3s linear;
    transition: transform .3s linear,-webkit-transform .3s linear;
}

.small-box>.small-box-footer {
    background-color: rgba(0,0,0,.1);
    color: rgba(255,255,255,.8);
    display: block;
    padding: 3px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 10;
}

.bg-success, .bg-success>a {
    color: #fff!important;
}

.bg-warning, .bg-warning>a {
    color: #1f2d3d!important;
}
.bg-warning {
    background-color: #ffc107!important;
}

.small-box h3 {
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0 0 10px;
    padding: 0;
    white-space: nowrap;
}

.small-box .icon {
    color: rgba(0,0,0,.15);
    z-index: 0;
}
.small-box .icon>i.fa, .small-box .icon>i.fab, .small-box .icon>i.fad, .small-box .icon>i.fal, .small-box .icon>i.far, .small-box .icon>i.fas, .small-box .icon>i.ion {
    font-size: 70px;
    top: 20px;
}

.bg-danger, .bg-danger>a {
    color: #fff!important;
}

.col-lg-3 .small-box h3, .col-md-3 .small-box h3, .col-xl-3 .small-box h3 {
    font-size: 3.2rem;
}
